[Unit]
Description=Lustre Settings
Requires=network-online.target {{ lustre_after }}
After=network-online.target {{ lustre_after }}

[Service]
Type=forking
ExecStart="{{ lustre_settings_path }}/lustre-settings"
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target