[Unit]
Description=Lustre Shutdown
After=network.target network-online.target lnet.service
DefaultDependencies=false
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/umount -a -t lustre
ExecStop=/usr/sbin/lustre_rmmod

[Install]
WantedBy=sysinit.target
WantedBy=final.target